{{ define "main" }}
<article class="h-entry">
    <a style="display:none;" href="{{ .Permalink }}" class="u-url p-name">
        {{ if .Title }}
            {{ .Title }}
        {{ end }}
        <time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">
            {{ .Date.Format "02 Jan 2006" }}
        </time>
    </a>
    <div class="e-content">
        {{ if not (findRE `class="paste-canvas"` .Content) }}
            <link rel="stylesheet" href="/css/non-paste-post.css">
        {{ end }}

        {{ .Content }}
    </div>
</article>
{{ partial "comments.html" . }}
{{ end }}