{{ define "main" }}
    <link rel="stylesheet" href="/css/non-paste-post.css">
    <ul class="h-feed">
    {{ $paginator := .Paginate (where .Pages.ByDate.Reverse "Type" "post") (index .Site.Params "archive-paginate" | default 10) }}
        {{ range $paginator.Pages  }}
        <li class="h-entry">
            {{ if .Title }}
                <a href="{{ .Permalink }}" class="u-url p-name">
                        {{ .Title }}
                </a> 
            {{ else }}
                <a href="{{ .Permalink }}" class="u-url">
                    <time class="dt-published p-name" datetime="{{ .Date.Format "2006-01-02T15:04:05-0700" }}">
                        {{ .Date.Format "02 Jan 2006" }}
                    </time>
                </a>   
            {{ end }}
        </li>
        {{ end }}
    </ul>
    {{- if or ($paginator.HasNext) ($paginator.HasPrev) }}
    <ul>
        {{ if $paginator.HasNext }}<li><a href="{{ $paginator.Next.URL }}">View older posts</a></li>{{ end }}
        {{ if $paginator.HasPrev }}<li><a href="{{ $paginator.Prev.URL }}">View newer posts</a></li>{{ end }}
    </ul>
    {{- end }}
{{ end }}