<hr/>
<div class="h-card">
    <h1>
        <img loading="lazy" 
        src="{{ .Site.Author.avatar }}" 
        alt="{{ .Site.Title }} Profile Photo" 
        class="u-photo" 
        width="20" 
        height="20">
        <a class="p-name u-url" href="/">{{ .Site.Title }}</a> a level {{ len ((where .Site.Pages "Type" "post").GroupByDate "2006" )}} webmaster
    </h1>
</div>
<hr/>
<ul role="navigation">
    <li>
        <a href="/archive">
            Archive
        </a>
    </li>
    <li>
        <a href="/categories/change-log/">
            Change log
        </a>
    </li>
    <li>
        <a href="/feeds">
            RSS
        </a>
    </li>
    <li>
        <a href="/surprise-me">
            Surprise Me
        </a>
    </li>
</ul>